#player1, #player2 {
    position: absolute;
    top: 300px;
    width: 20px;
    height: 150px;
    display: flex;
    background-color: white;
    justify-content: center; 
    align-items: center;
}

#player1 {
    left: 50px;
}

#player2 {
    right: 50px;
}

#The-ball, #arrow-selector {
    position: absolute;
    top: calc(50vh - 15px);
    left: calc(50vw -  15px);
    width: 30px;
    height: 30px;
    object-fit: contain;
}
@keyframes rotateV {
    from {
        rotate: 0deg;
    }
    to {
        rotate: var(--deg, 1253deg);
    }
}
.rotate {
    animation: rotateV 3s cubic-bezier(0.8, 0, 0.2, 1) forwards
}
body {
    overflow: hidden;
    background-color: black;
}
.score {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    transform: rotate(90deg);
    color: black;
}
#dificulty {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    
    border: 3px solid white;
    background-color: rgb(65, 65, 65);
    padding: 30px 40px;
    font-family: Tahoma;
    color: white;
    white-space: nowrap;
    z-index: 100;
}

#dificulty label {
    font-size: 20px;
}

#start {
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}